/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a{
    text-decoration: none;
    list-style-type: none;
}
body{
    /* font-family: 'Poppins', 'Segoe UI', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* variables */

/* fonts */

/* base styles */


/* desktop styling */
body{
    /* padding: 5% 30%; */

    background: linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%), linear-gradient(58.72deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: color-dodge, overlay, difference, normal;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.main-todo-card{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px 50px;
    width: 50%;
    margin: 30px auto;
}
.main-todo-card h1{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}
.main-input-form{
    margin-bottom: 15px;
    text-align: center;  
}
.todo-input{
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: .85em;
    width: 93%;
}
.todo-inpput::focus{
    border: none;
    outline: none;
}
.todo-input-btn{
    padding: 8px 12px;
    background-color: rgb(116, 114, 114);
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -12px;
    cursor: pointer;
}
.main-todo-card li{
    display: flex;
    margin-bottom: 10px;
}
.main-todo-card li>h2{
    font-size: 1.15em;
    margin-right: 10px;
    color: rgb(27, 27, 27);
}
.delete-btn{
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
    border-radius: 5px;
}


