/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a{
    text-decoration: none;
    list-style-type: none;
}
body{
    /* font-family: 'Poppins', 'Segoe UI', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* variables */

/* fonts */

/* base styles */


/* desktop styling */
body{
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* padding: 5% 30%; */
}
.main-todo-card{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px 50px;
    width: 50%;
    margin: 30px auto;
}
.main-todo-card h1{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}
.main-input-form{
    margin-bottom: 15px;
    text-align: center;  
}
.todo-input{
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: .85em;
    width: 93%;
}
.todo-inpput::focus{
    border: none;
    outline: none;
}
.todo-input-btn{
    padding: 8px 12px;
    background-color: rgb(116, 114, 114);
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -12px;
    cursor: pointer;
}
.main-todo-card li{
    display: flex;
    margin-bottom: 10px;
}
.main-todo-card li>h2{
    font-size: 1.15em;
    margin-right: 10px;
}
.delete-btn{
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
    border-radius: 5px;
}


