{% extends 'base.html' %} {% block content %}
<form class="main-input-form" action="addTodoItem" method="post">
  {% csrf_token %}
  <input class="todo-input" type="text" name="content" />
  <input class="todo-input-btn" type="submit" value="+" />
</form>

<ul>
  {% for item in all_items %}
  <li>
    <h2>{{ item.content }}</h2>
    <form action="deleteTodoItem/{{ item.id }}/" method="post">
      {% csrf_token %}
      <input class="delete-btn" type="submit" value="X" />
    </form>
  </li>

  {% endfor %}
</ul>
{% endblock content %}
